<div *ngIf="user">
    <h3>User Profile</h3>
    <table>
        <tr>
            <td>Login: </td>
            <td>{{ user?.login }}</td>
        </tr>
        <tr>
            <td>Email: </td>
            <td>{{ user?.email }}</td>
        </tr>
        <tr>
            <td>Full Name: </td>
            <td>{{ user?.name?.firstName }} {{ user?.name?.lastName }}</td>
        </tr>
        <tr>
            <td>Account Type: </td>
            <td>{{ user?.type }}</td>
        </tr>
        <tr>
            <td>Registered At: </td>
            <td>{{ user?.registeredAt | date:'fullDate' }}</td>
        </tr>
        <tr></tr>
    </table>
</div>
<div *ngIf="!user && !errorMessage">
    loading user profile...
</div>