<div *ngIf="isLoginPage">
    <h3>Login Page</h3>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <table>
            <!-- Login or Email -->
            <tr>
                <td>
                    <label for="login">Login: </label>
                </td>
                <td>
                    <input name="login" type="login" formControlName="login">
                </td>
            </tr>
            <!-- Password -->
            <tr>
                <td>
                    <label for="password">Password: </label>
                </td>
                <td>
                    <input name="password" type="password" formControlName="password">
                </td>
            </tr>
        </table>
    </form>
</div>
<div *ngIf="!isLoginPage">
    <h3>Signup Page</h3>
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <table>
            <!-- Login -->
            <tr>
                <td>
                    <label for="login">Login: </label>
                </td>
                <td>
                    <input name="login" type="login" formControlName="login">
                </td>
            </tr>
            <!-- Email -->
            <tr>
                <td>
                    <label for="email">Email: </label>
                </td>
                <td>
                    <input name="email" type="email" formControlName="email">
                </td>
            </tr>
            <!-- Password -->
            <tr>
                <td>
                    <label for="password">Password: </label>
                </td>
                <td>
                    <input name="password" type="password" formControlName="password">
                </td>
            </tr>
            <!-- First Name -->
            <tr formGroupName="name">
                <td>
                    <label for="firstName">First Name: </label>
                </td>
                <td>
                    <input name="firstName" type="text" formControlName="firstName">
                </td>
                <td>
                    <label for="lastname">First Name: </label>
                </td>
                <td>
                    <input name="lastname" type="text" formControlName="lastName">
                </td>
            </tr>
            <!-- User Type -->
            <tr>
                <td>
                    <label for="usertype">Account Type: </label>
                </td>
                <td>
                    <select name="usertype" formControlName="type">
                        <option *ngFor="let optionName of options" value="{{optionName}}">{{optionName}}</option>
                    </select>
                </td>
            </tr>
        </table>
    </form>
</div>
<div *ngIf="errorMessage">{{ errorMessage }}</div>
<button (click)="submit()">Submit</button>
<button (click)='changeState()'>{{ isLoginPage ? "Create Account?" : "Use Existing Account?" }}</button>
